<html>
    <head>
        <title>MicroMarketApp</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    </head>

    <body>
      <div class="container">
    
        <h2>API Calls</h2>
        <p>{{json}}</p>

        <br><a href="/MicroMarketApp">Return to homepage</a>
        
      </div>
    </body>
</html>