<html>
    <head>
        <title>MicroMarketApp</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    </head>

    <body>
      <div class="container">
    
        <h2>Change time-of-use prices for macrogrid</h2>

        {% if successfully_saved %}
            <b>Time-of-use prices have been successfully updated!</b>
        {% endif %}

        <form action="#" method="POST">
            {% csrf_token %}
            <table class="table table-bordered">                
                <col width="10%">
                <col width="90%">
                <tr><td>Hour</td><td>$ per KWH</td></tr>
                {% for tou in tous %}
                    <tr>
                        <td>{{tou.hour}}</td>
                        <td><input type="number" name="price_{{forloop.counter0}}" step="0.001" min="0" value="{{tou.price}}" required/></td>                        
                    </tr>
                {% endfor %}
            </table>
    
            <br><input type="submit" class="btn btn-success btn-block" value="Update time-of-use prices"/>
            <br><a href="/MicroMarketApp/change_tou"><button type="button" class="btn btn-danger btn-block">Discard changes</button></a>
        </form>

        <br><a href="/MicroMarketApp">Return to homepage</a>
        
      </div>
    </body>
</html>