<html>
    <head>
        <title>MicroMarketApp</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    </head>

    <body>
      <div class="container">
    
        <h2>Information on green energy & pricing</h2>
    
        <table class="table table-bordered">
            <tr><td><b>Historical green energy prices</b></td></tr>
            <tr><td>{{green_price_figure|safe}}</td></tr>
        </table>

        <br><br><a href="/MicroMarketApp">Return to homepage</a>

      </div>
    </body>
</html>