<html>
    <head>
        <title>MicroMarketApp</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    </head>

    <body>
      <div class="container">
    
        <h2>Overview</h2>
    
        <br><h4>Dates to view usage for</h4>
        <form action="#" method="POST"> 
            {% csrf_token %}
            <table class="table">                
                <col width="25%">
                <col width="25%">
                <col width="25%">
                <col width="15%">
                <col width="10%">
                <tr>
                    <td><b>Start &nbsp;</b><input type="datetime-local" name="start_time" value="{{start_time}}" required/></td>
                    <td><b>End &nbsp;</b><input type="datetime-local" name="end_time" value="{{end_time}}" required/></td>
                    <td><b>Start billing &nbsp;</b><input type="date" name="last_billing_date" value="{{last_billing_date}}" required/></td>
                    <td><input type="submit" class="btn btn-success" value="Update data"/></td>
                    <td><a href="/MicroMarketApp/"><button type="button" class="btn btn-warning">Reset</button></a></td>
               </tr>
            </table>
        </form>
        <i><span style="color:red;">{{warning}}</span></i>

        <br><h3>Users</h3>
        <i>Click on a username to visit the page for that user</i>
        {% for usage_info in usage_infos %}
            <h4><a href="/MicroMarketApp/user_view/{{usage_info.user_id}}">{{usage_info.user_info.username}}</a> @ {{usage_info.user_info.address}}</h4>
            <table class="table table-bordered">
                <col width="50%">
                <col width="50%">
                <tr>
                    <td>{{usage_info.figure|safe}}</td>
                    <td>
                        <br><b>Bill since {{last_billing_date}}:</b> ${{usage_info.bill}}
                        <br><br><b>Usage settings</b>
                        <br>Prioritizes green? {{usage_info.settings.prioritize_green_energy}}
                        <br>Max green price: {{usage_info.settings.max_green_energy_price}}
                        <br><br><b>Energy saver rank:</b> {{usage_info.achievements.energy_saver_rank.rank}}
                        <br><b>Green user rank:</b> {{usage_info.achievements.green_user_rank.rank}}
                        <br><br><b>Milestones:</b>
                            {% if not usage_info.achievements.milestones %}
                                <br><i>No milestones yet!</i>
                            {% endif %}
                            {% for milestone in usage_info.achievements.milestones %}
                                <br><i><font color="green" size="4.5">&nbsp;&nbsp;{{milestone.milestone}}</font></i>
                            {% endfor %}
                    </td>
                </tr>
            </table>                  
        {% endfor %}

        <br><h3>Current Prices</h3>
        <table class="table table-bordered">
            <col width="40%">
            <col width="60%">
            <tr>
                <td><b>Current <span style="color:#66ff66;">green energy</span> price:</b></td>
                <td>&nbsp;${{real_time_costs.green_price}} per KWH</td>
            </tr>
            <tr>
                <td><b>Current <span style="color:#3366ff;">macrogrid energy</span> price:</b></td>
                <td>&nbsp;${{real_time_costs.brown_price}} per KWH</td>
            </tr>
        </table>

        <br><h3>Actions</h3>
        <table class="table">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <tr>
                <td><a href="/MicroMarketApp/manage_users"><button type="button" class="btn btn-info btn-block" >Manage users</button></a></td>
                <td><a href="/MicroMarketApp/green_info"><button type="button" class="btn btn-primary btn-block">View green info</button></a></td>
                <td><a href="/MicroMarketApp/change_tou"><button type="button" class="btn btn-info btn-block">Change time-of-use prices</button></a></td>
                <td><a href="/MicroMarketApp/update"><button type="button" class="btn btn-primary btn-block">Update</button></a></td>
            </tr>
        </table>
      </div>
    </body>
</html>