<html>
    <head>
        <title>MicroMarketApp</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    </head>

    <body>
      <div class="container">
    
        <h2>Manage users</h2>
     
        <br><table class="table table-bordered">
            <col width="15%">
            <col width="35%">
            <col width="15%">
            <col width="15%">
            <col width="10%">
            <col width="10%">
            <tr><b>
                <td>Username</td>
                <td>Address</td>
                <td>Prioritizes green?</td>
                <td>Max green price</td>
                <td></td><td></td>
            </b></tr>
            {% for user_info in user_infos %}
                <tr>
                    <td>{{user_info.username}}</td>
                    <td>{{user_info.address}}</td>
                    <td>{{user_info.prioritize_green_energy}}</td>
                    <td>{{user_info.max_green_energy_price}}</td>
                    <td><a href="/MicroMarketApp/edit_user/{{user_info.id}}"><button type="button" class="btn btn-warning">Edit</button></a></td>
                    <td><a href="/MicroMarketApp/delete_user/{{user_info.id}}">
                            <button type="button" 
                                    class="btn btn-danger" 
                                    onclick="return confirm('Are you SURE you want to delete this user and all associated info? \nThis action cannot be undone!');">Delete</button>
                    </a></td>
                </tr>              
        {% endfor %}
        </table>

        <br><a href="/MicroMarketApp/new_user"><button type="button" class="btn btn-success">Add new user</button></a>
        <br><br><a href="/MicroMarketApp">Return to homepage</a>

      </div>
    </body>
</html>