<html>
    <head>
        <title>MicroMarketApp</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    </head>

    <body>
      <div class="container">

        {% if user %}
            <h2>Edit user</h2>    
        {% else %}
            <h2>Add user</h2>
        {% endif %}

        {% if successfully_saved %}
            <b>Changes have been successfully saved!</b>
        {% endif %}

            <form action="#" method="POST"> 
                {% csrf_token %}
                <table class="table table-bordered">                
                    <col width="40%">
                    <col width="60%">
                    <tr>
                        <td><b>Username:</b></td>
                        <td><input type="text" name="username" value="{{user.username}}" required/></td>
                    </tr>
                    <tr>
                        <td><b>Address:</b></td>
                        <td><textarea rows="3" cols="40" name="address" required>{{user.address}}</textarea></td>
                    </tr>
                    <tr>
                        <td><b>Prioritize green energy?</b></td>
                        {% if user.prioritize_green_energy %}
                            <td><input type="checkbox" name="prioritize_green_energy" checked></td>
                        {% else %}
                            <td><input type="checkbox" name="prioritize_green_energy"></td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td><b>Maximum price user is willing to pay for green energy ($ per KWH):</b></td>
                        <td><input type="number" name="max_green_energy_price" step="0.001" min="0" value="{{user.max_green_energy_price}}" required/></td>
                    </tr> 
                </table>
    
                <br><input type="submit" class="btn btn-success btn-block" value="Submit changes"/>
            </form>

        <br><a href="/MicroMarketApp/manage_users">Return to managing users</a>
        <br><a href="/MicroMarketApp">Return to homepage</a>
        
      </div>
    </body>
</html>