<html>
    <head>
        <title>MicroMarketApp</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    </head>

    <body>
      <div class="container">
    
        <h2>Upload data from json</h2>

        <form action="#" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <br><input type="file" name="json_file" required/>
    
            <br><input type="submit" class="btn btn-success" value="Upload"/>    
        </form>
        
        {% if status %}
            <b>{{status}}</b>            
        {% endif %}

        <br><br><a href="/MicroMarketApp">Return to homepage</a>
        
      </div>
    </body>
</html>